footer
  #nav
    nav#more
      a(href='#') About Us
      a(href='#') Blog
      a(href='#') Press
      a(href='#') iOS App
      a(href='#') Android App
    nav#social-media
      a(href='#')
        i.fab.fa-facebook-square(title='Facebook')
      a(href='#')
        i.fab.fa-twitter-square(title='Twitter')
      a(href='#')
        i.fab.fa-snapchat-square(title='Snapchat')
      a(href='#')
        i.fab.fa-instagram(title='Instagram')
  #copy
      p.footer-p
        | Made with 
        i.fa.fa-heart(style='color: red;')
        |  by 
        span(style='color: palevioletred;') Rajat Kumar

