extends base
block content
 form#form
   .login(style='padding-top:18%') 
    label.form__label(style='color:cyan;margin-top:5%;margin-left:25%;') New Password
    input#password.form__input(style='width:30%;height:50px;margin-left:25%;' type='password' minlength=8 required='true')
    label.form__label(style='color:cyan;margin-top:5%;margin-left:25%;') Confirm Password
    input#cpassword.form__input(style='width:30%;height:50px;margin-left:25%;margin-bottom:5%' type='password' minlength=8 required='true')
    button.btn.btn-full(type="submit" style='margin-left:25%;') Submit
 script(src='js/forgetPasswordConfirm.js')