extends base
block content
 form#updateForm
  .login(style='padding-top:13%')
    label(style='margin-left:25%;color: cyan;margin-top:5%') Current Password
    input#currPass(type='password' required=true minlength=8 style='margin-left:25%;margin-top:10%')
    br
    label(style='margin-left:25%;color: cyan;margin-top:5%') New Password
    input#newPass(type='password' required=true minlength=8 style='margin-left:25%;margin-top:10%')
    br
    label(style='margin-left:25%;color: cyan;margin-top:5%') Confirm New Password
    input#confirmPass(type='password' required=true minlength=8 style='margin-left:25%;margin-top:10%')
    br
    button.btn.btn-full(type="submit" style='margin-left:25%;margin-top:10%;margin-bottom:5%') Submit
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js")
 script(src="js/updatePassword.js")